<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>SuperChat</title>
</head>
<body>
    <main id="mainContent">
        <nav class="navBar">
            <div class="logo-nav"><h1>Super Chat</h1></div>
            <div class="user">
                <input placeholder="USUÃRIO" type="text" name="userName" id="userName" class="userName">
            </div>
            <div class="role"><h2>Games</h2></div>
            <div class="salasContainer">
                <select name="salas" id="salas" class="salas">
                    <option value="salas">Salas</option>
                    <option value="games">Games</option>
                    <option value="tec">Tecnologia</option>
                    <option value="geral">Geral</option>
                </select>
            </div>
            <div class="chatsCount">Grupos: <%= chats.length %></div>
            <section class="chats">
                <div class="newChatBnt"><span class="newChatBntName">NOVO GRUPO</span></div>

                <% if (chats) { %>
                    <% chats.forEach(chat => { %>
                        <div class="chat">
                            <div class="members-count">Membros: 0</div>
                            <div class="chatName"><%= chat.name %></div>
                            <button onclick="goToChat('<%=chat.id%>')" class="join-chat">Entre</button>
                        </div>
                    <% }) %>
                <% } %>

            </section>
        </nav>
        <section class="userArea">
            <section class="topBar"><h3 class="" style="text-align: center;"></h3></section>
            <section class="userContent">
                <div class="messages"></div>
                <div class="sendMessage">
                    <input autofocus type="text" name="message" id="message">
                    <button class="send">Enviar</button>
                </div>
            </section>
        </section>
    </main>
    <div class="newChatModal">
        <form action="">
            <h3>NOVO GRUPO</h3>
            <input type="text" name="chatName" id="chatName" class="chatName">
            <select name="salasNewChatModal" id="salasNewChatModal" class="salasNewChatModal">
                <option value="salas">Salas</option>
                <option value="games">Games</option>
                <option value="tec">Tecnologia</option>
                <option value="geral">Geral</option>
            </select>
            <button class="createNewChatBnt" type="button">CRIAR</button>
            <div class="closeNewChatBnt"></div>
        </form>
    </div>
    <script src="./js/modal.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/sockets.js"></script>
</body>
</html>